*{
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
}
h1{
    background-color: #741699;
    width: 100%;
    height: 10%;
}
body{
    background-image: linear-gradient(black, red);
    width: 100%;
    height: 500%;
}
h1{
    color: black;
    font: bolder;
}